{% extends "ChiaBundle::layout.twig" %}

{% block content %}
    <h1>{% block title 'Projects' %} <small>({{ which }})</small></h1>

    <p>
        <a href="{{ path('projects', {'which': 'open'}) }}">Open</a> |
        <a href="{{ path('projects', {'which': 'won'}) }}">Won</a> |
        <a href="{{ path('projects', {'which': 'lost'}) }}">Lost</a>
    </p>

    <p>
        <a href="{{ path('projects_new') }}">New</a>
    </p>

    <table class="projects tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Last update</th>
        </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        <tr class="project-row">
            <td><strong><a href="{{ path('projects_view', {'id': project.id}) }}">{{ project.name }}</a></strong></td>
            <td>{% if project.category is defined %} {{ project.category }} {% endif %}</td>
            <td>{{ project.price }} {{ price_types[project.price_type] }}</td>
            <td>{% if project.status is defined %} {{ project.status }} {% endif %}</td>
            <td>{{ project.owner }}</th>
            <td>{{ project.updated_at|date("m/d/Y") }}</th>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
