{% extends "ChiaBundle::layout.twig" %}

{% block content %}

    <div class="sidebar-right">
        {% if project.contact.id %}
            <strong>Contact: </strong><a href="{{ path('contacts_edit', {'id': project.contact.id}) }}">{{ project.contact }}</a></strong><br/>
            <strong>Owner: </strong>{{ project.owner }}</strong>
        {% endif %}
        <h3>Background</h3>{{ project.description|markdown|raw }}

        {% render "ChiaBundle:Tasks:new" with {'project': project} %}

        {% render "ChiaBundle:Tasks:list" with {'project': project} %}
    </div>

    <h1>{% block title project.name %}<small> <a href="{{ path('projects_edit', {'id': project.id}) }}">(edit)</a></small></h1>
    <p>
        {{ project.category.name }} {% if project.price %} - {{ project.price }} {{ project.priceTypeName }} {% endif %}
        {% if project.estimatedStartDate is defined %}<br><strong>Estimated start date</strong>: {{ project.estimatedStartDate|date('Y-m-d') }}{% endif %}
    </p>
    <form action="{{ path('projects_modify', {"id": project.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_field(form) }}
        <input type="submit" value="Send!" />
    </form>

    <div class="notes">
    {% for note in project.notes|reverse %}
        <div class="row">
            <strong>{{ note.verb }}</strong> by {{ note.createdBy }}
            <small>{{ note.createdAt|date("m/d/Y H:m:i") }}</small>
            {% if note.changes %}<br><small><em>{{ note.changes|markdown|raw }}</em></small>{% endif %}
            {% if note.note %}{{ note.note|markdown|raw }}{% endif %}
        </div>
    {% endfor %}
    </div>

{% endblock %}
