{% extends "ChiaBundle::layout.twig" %}

{% block content %}
    <h2>{{ project.name }}<small> <a href="{% path 'projects_edit' with ['id': project.id] %}">(edit)</a></small></h2>
    <p>{{ project.category.name }} {% if project.price %} <br>{{ project.price }} {{ project.priceTypeName }} {% endif %}</p>
    <p>{{ project.status }}</p>
    {% if project.contact.id %}
        <strong>Contact: </strong><a href="{% path 'contacts_edit' with ['id': project.contact.id] %}">{{ project.contact.name }}</a></strong>
    {% endif %}
    <p><strong>Background:<br></strong>{{ project.description }}</p>
{% endblock %}
