{% extends "ChiaBundle::layout.twig" %}

{% block content %}
    <h1>{% block title 'Tasks' %} <small>({{ which }})</small></h1>

    <p>
        <a href="{% path 'tasks' with {'which': 'mine'} %}">My tasks</a> |
        <a href="{% path 'tasks' with {'which': 'completed'} %}">Completed</a> |
        <a href="{% path 'tasks' with {'which': 'assigned'} %}">Assigned by me</a>
    </p>

    <div class="tasks">
    {% for task in tasks %}
        <div class="row">
            <input type="checkbox" />
            <strong>{{ task.category }}</strong>
            {{ task.owner }}:
            {{ task.task }}
            on <a href="{% path 'projects_view' with {'id': task.p_id} %}">{{task.project}}</a>
        </div>
    {% endfor %}
    </div>

{% endblock %}
